
<!-- static message -->
<div ab-show="message.show" ab-elem="notification" class="abn_message_holder">
    <div class="abn_message_placer">
        <div class="abn_message_content">
            <img ab-show="message.image" src="{{message.image}}" class="" />
            <div class="mg-clear"></div>
            <div class="">
                <p>
                    {{message.text}}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- loading gif and message -->
<div ab-show="loading.show" class="abn_message_holder">
    <div class="abn_message_placer">
        <div class="abn_message_content">
            <img class="img-responsive" src="{{loading.image}}" class="" />
            <div class="mg-clear"></div>
            <div class="">
                <p>
                     {{loading.text}}
                </p>
            </div>
        </div>
    </div>
</div>


<div ab-show="confirmation.show" class="abn_message_holder">
    <div class="abn_message_placer">
        <div class="abn_message_content abn_message_background">
            <p class="lead text-center">
                {{confirmation.text}}
            </p>
            <div class="mg-clear mg-spacer-bottom-s"></div>

            <div class="col-sm-6 mg-spacer-bottom-s text-center">
                <a ab-elem="yes" class="btn btn-success mg-full">
                    <i class="fa fa-check"> </i>
                    {{confirmation.yes}}
                </a>
            </div>

            <div class="col-sm-6 mg-spacer-bottom-s text-center">
                <a ab-elem="no" class="btn btn-primary mg-full error">
                    <i class="fa fa-times"> </i>
                    {{confirmation.no}}
                </a>
            </div>
        </div>
    </div>
</div>
